:root {
    --ff-primary: 'Poppins';

    --clr-background: rgb(207, 245, 252);
    --clr-accent1: rgb(50, 128, 144);
    --clr-accent2: rgb(255, 224, 63);
    --clr-accent3: rgb(135, 210, 215);
    --clr-accent4: #96873a;
    --clr-accent5: rgb(255, 241, 145);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0; padding: 0;
    background: var(--clr-background);
    font-family: var(--ff-primary), sans-serif;
    color: var(--clr-accent1);
}

/* Header */
ul {
    list-style-type: none;
    margin: 0; padding: 0;
}
a {
    text-decoration: none;
    color: var(--clr-accent1);
    display: block;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 15em;
}
.nav-container {
    font-weight: 600;
}
.nav-desktop__list {
    display: flex;
}
.nav-desktop__list a {
    padding: 0 0 0 4em;
}
.nav-container a:hover {
    color: var(--clr-accent3);
}

/* Intro */
.intro {
    max-width: 1120px;
    margin: 0em 15em;
}
.intro h2{
    margin: 0;
    padding: 0 0 0.3em;
    font-size: 24px;
    color: var(--clr-accent1);
    text-shadow: -2.2px 2.2px 1px var(--clr-accent3);
}
.no-margin-padding {
    margin: 0;
    padding: 0;
}


/* Chart */
canvas {
    margin: 0.75em 0 2em;
}
.chart {
    max-width: 1120px;
    margin: 0em 15em;
}
.chart h1{
    margin: 1.5em 0 0 0;
    padding: 0 0 0.3em;
    font-size: 32px;
    color: var(--clr-accent2);
    text-shadow: -3.7px 2.8px 1px var(--clr-accent4);
}
.chart img {
    max-width: 100%;
    height: auto;
}

/* Hero */
.hero {
    font-size: 1.5em;
    padding: 0 240px;
}
.hero h1{
    margin: auto;
    color: var(--clr-accent1);
    text-shadow: -4.4px 3.6px 1px var(--clr-accent3);
}

/* Footer */
footer {
    flex-shrink: 0;
    align-items: center;
    padding: 1em 15em;
    color: var(--clr-background);
    background-color: var(--clr-accent1);
    margin: 4em 0 0 0;
}

/*jono*/

#ForButton {
    transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);
    display: inline-block;
    width: 100px;
    height: 50px;
    font-weight: 300;
    font-size: 10px;
    color: #fb8362;
    background: none;
    border: none;
    position: fixed;
    top: 15%;
    left: 10%;
    margin-left: 0px;
    margin-top: 0px;
}

#ActButton {
    transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);
    display: inline-block;
    width: 100px;
    height: 50px;
    font-weight: 300;
    font-size: 10px;
    color: #090706;
    background: none;
    border: none;
    position: fixed;
    top: 15%;
    left: 10%;
    margin-left: 85px;
    margin-top: 0px;
}

#ForForm {
    transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);
    display: inline-block;
    line-height: 1;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 0.8em 1.2em;
    border-radius: 1rem;
    white-space: nowrap;
    position: fixed;
    top: 15%;
    left: 10%;
    margin-top: 30px;
    margin-left: -8px;
}

#ActForm {
    transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);
    display: inline-block;
    line-height: 1;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 0.8em 1.2em;
    border-radius: 1rem;
    white-space: nowrap;
    position: fixed;
    top: 15%;
    left: 10%;
    margin-top: 30px;
    margin-left: -8px;
}

#myButtonSubmit {
    transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);
    display: inline-block;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    padding: 0.8em 1.2em;
    border-radius: 1rem;
    background: #fb8362;
    ;
    white-space: nowrap;
    position: relative;
    left: 150px;
}

#ForTemButton {
    transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);
    display: inline-block;
    width: 150px;
    height: 50px;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    border-radius: 1rem;
    background: #fb8362;
    ;
    white-space: nowrap;
    position: relative;
}

#ActTemButton {
    transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);
    display: inline-block;
    width: 150px;
    height: 50px;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    border-radius: 1rem;
    background: #fb8362;
    ;
    white-space: nowrap;
    position: relative;
}

.hidden {
    display: none;
}

.fordraganddrop {
    border: 5px solid black;
    width: 200px;
    height: 70px;
    text-align: center;
}

.container {
    background-color: #ffffff;
    width: 60%;
    min-width: 27.5em;
    padding: 3.12em 1.87em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 1.25em 3.43em rgba(0, 0, 0, 0.08);
    border-radius: 0.5em;
  }

input[type="file"] {
    display: none;
  }
  label {
    display: block;
    position: relative;
    background-color: #025bee;
    color: #ffffff;
    font-size: 1.1em;
    text-align: center;
    width: 16em;
    padding: 1em 0;
    border-radius: 0.3em;
    margin: 0 auto 1em auto;
    cursor: pointer;
  }
  #image-display {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1.25em;
    flex-wrap: wrap;
  }
  #image-display figure {
    width: 45%;
  }
  #image-display img {
    width: 100%;
  }
  #image-display figcaption {
    font-size: 0.8em;
    text-align: center;
    color: #5a5861;
  }
  .active {
    border: 0.2em dashed #025bee;
  }
  #error {
    text-align: center;
    color: #ff3030;
  }
