:root {
    --ff-primary: 'Poppins';

    --clr-darkbackground: #000a30;
    --clr-accent1: #bbe4ff;
    --clr-accent2: #fff191;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0; padding: 0;
    background: var(--clr-darkbackground);
    font-family: var(--ff-primary), sans-serif;
    color: var(--clr-accent1);
}

/* Header */
ul {
    list-style-type: none;
    margin: 0; padding: 0;
}
a {
    text-decoration: none;
    color: white;
    display: block;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 15em;
}
.nav-container {
    font-weight: 600;
}
.nav-desktop__list {
    display: flex;
}
.nav-desktop__list a {
    padding: 0 0 0 4em;
}
.nav-container a:hover {
    color: var(--clr-accent2);
}

/* Chart */
canvas {
    margin: 0.75em 0 3em;
}
.chart {
    max-width: 1120px;
    padding: 1.5em 15em;
}
.chart h1{
    margin: 0;
    padding: 0 0 0.3em;
    font-size: 24px;
}

/* Hero */
.hero {
    font-size: 1.4em;
    padding: 0 240px;
}
.hero h1{
    margin: auto;
    color: var(--clr-accent2);
}