:root {
    --ff-primary: 'Poppins';

    --clr-background: rgb(207, 245, 252);
    --clr-accent1: rgb(50, 128, 144);
    --clr-accent2: rgb(255, 224, 63);
    --clr-accent3: rgb(135, 210, 215);
    --clr-accent4: #96873a;
    --clr-accent5: rgb(255, 241, 145);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0; padding: 0;
    background: var(--clr-background);
    font-family: var(--ff-primary), sans-serif;
    color: var(--clr-accent1);
}

/* Header */
ul {
    list-style-type: none;
    margin: 0; padding: 0;
}
a {
    text-decoration: none;
    color: var(--clr-accent1);
    display: block;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 15em;
}
.nav-container {
    font-weight: 600;
}
.nav-desktop__list {
    display: flex;
}
.nav-desktop__list a {
    padding: 0 0 0 4em;
}
.nav-container a:hover {
    color: var(--clr-accent3);
}

/* Intro */
.intro {
    max-width: 1120px;
    margin: 0em 15em;
}
.intro h2{
    margin: 0;
    padding: 0 0 0.3em;
    font-size: 24px;
    color: var(--clr-accent1);
    text-shadow: -2.2px 2.2px 1px var(--clr-accent3);
}
.no-margin-padding {
    margin: 0;
    padding: 0;
}


/* Chart */
canvas {
    margin: 0.75em 0 2em;
}
.chart {
    max-width: 1120px;
    margin: 0em 15em;
}
.chart h1{
    margin: 1.5em 0 0 0;
    padding: 0 0 0.3em;
    font-size: 32px;
    color: var(--clr-accent2);
    text-shadow: -3.7px 2.8px 1px var(--clr-accent4);
}
.chart img {
    max-width: 100%;
    height: auto;
}

/* Hero */
.hero {
    font-size: 1.5em;
    padding: 0 240px;
}
.hero h1{
    margin: auto;
    color: var(--clr-accent1);
    text-shadow: -4.4px 3.6px 1px var(--clr-accent3);
}

/* Footer */
footer {
    flex-shrink: 0;
    align-items: center;
    padding: 1em 15em;
    color: var(--clr-background);
    background-color: var(--clr-accent1);
    margin: 4em 0 0 0;
}
